<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>PerfectPizza</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div>
    <div class="header" >
      <h1>Zandile's Pizza Shop</h1>
    </div>
    <div class="logout">
   <form action="/logout" method="post">
   <button class="btn orderLargePizza" style="margin-left: auto">Logout</button>
   </form>
   </div>
    <div class="cart" >
      <h3>Shopping Cart</h3>
      <img src="shopping-cart.png" alt="">

        <table class="tafile">
          <tr>
            <td><strong>Small pizzas total:</strong></td>
            <td><span class="smallTotalPrice">0.00</span></td>
          </tr>

          <tr>
            <td><strong>Medium pizzas total:</strong></td>
            <td><span class="mediumTotalPrice">0.00</span></td>
          </tr>
          <tr>
            <td><strong>Large pizza total:</strong></td>
            <td><span class="largeTotalPrice">0.00</span></td>
          </tr>
          <tr>
            <td><strong>Total price</strong></td>
            <td><span class="totalPrice">0.00</span></td>
          </tr>
        </table>

        <div class="orderBox1" >
          <button class="btn orderLargePizza" style="margin-left: auto">Order</button>
    </div>
    </div>

    

    <div class="pizzas">

         <div class="pizza large">
        <div class="info">
          <img src="pizza.png"
            alt="">
          <h2>Large Pizza</h2>
          <strong>R87.99</strong>
          <div>
            Large margeritha pizza with 3 toppings max.
            3 meat toppings max.
            3 or less other toppings.
          </div>
        </div>
        <div class="orderBox" >
          <button class="btn orderLargePizza" style="margin-left: auto">Order large pizza</button>
        </div>
      </div>

      <div class="pizza medium">
        <div class="info">
          <img src="pizza.png"
            alt="">
          <h2>Medium Pizza</h2>
          <strong>R58.99</strong>

          <div>
            Medium margeritha pizza with 3 toppings max.
            2 or less meat topping.
            3 or less other toppings.
          </div>
        </div>

        <div class="orderBox">
          <button class="btn orderMediumPizza" style="margin-left: auto">Order medium pizza</button>
        </div>

      </div>
     
      <div class="pizza small">
        <div class="info">
          <img src="pizza.png"
            alt="">
          <h2>Small Pizza</h2>
          <strong>R31.99</strong>
          <i>
            <ul>
              <li>Small pizza with 3 toppings</li>
              <li>1 meat topping.</li>
              <li>3 or less other toppings.</li>
            </ul>
          </i>
        </div>
        <div class="orderBox">
          <button class="btn orderSmallPizza" style="margin-left: auto">Order small pizza</button>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="contact">
        Contact us at: (021) 920 3177
        Facebook: Zandile Pizza Shop
        Twitter : @zandilePizzashop
      </div>
      
    </div>
  </div>
</body>
<script src="order-pizza.js"></script>
<script src="pizza.js"></script>

<hr>


{{!-- <div>

  <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>


</div> --}}


</html>
</html>